/* Thank you to LP Riel at http://therapboard.com/ for the following styles */

div.player-card img  {
    filter: grayscale(35%) sepia(30%) brightness(94%) drop-shadow(3px 4px 4px rgba(0,0,0,0.5));
}
div.catcher-card img  {
    filter: grayscale(35%) sepia(30%) brightness(94%) drop-shadow(3px 4px 4px rgba(0,0,0,0.5));
}

div.player-card img:hover { 
    filter: grayscale(0%) drop-shadow(3px 4px 4px rgba(0,0,0,0.5));
    cursor: pointer;
}

div.player-card img:active { 
    filter: grayscale(0%) drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
    transform: scale(0.98, 0.98);
}